* {
  box-sizing: border-box;
}


.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.search-container>* {
  margin-bottom: 10px;
}

input {
  width: 300px;
  padding: 10px;
}

.suggestions {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-height: 200px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px;
  cursor: pointer;
}

li:hover {
  background-color: lightgray;
}

input:focus {
  border-color: red;
}