* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #EBE76C, #ED7B7B);
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input {
  width: 300px;
  padding: 10px;
  background-color: #836096;
  color: white;
  border: none;
  margin: 0;
}

input::placeholder {
  color: white;
}

input:focus {
  outline-color: #b78ecd;
}

.suggestions {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-height: 10em;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #a87fbe;
  width: 300px;
}

ul.has-items {
  display: none;
}

ul.has-items li {
  padding: 5px;
  cursor: pointer;
}

ul.has-items li:hover {
  background-color: #836096;
}

li {
  padding: 5px;
  cursor: pointer;
}

li:hover {
  background-color: #836096;
}